<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <mat-form-field>
        <input type="text" formControlName="font" matInput placeholder="Font" />
    </mat-form-field>
    <mat-form-field>
        <input type="text" formControlName="fontSize" matInput placeholder="Font size" />
    </mat-form-field>
    <mat-form-field>
        <input type="text" formControlName="color" matInput placeholder="Color" />
    </mat-form-field>
    <mat-form-field>
        <input type="text" formControlName="text" matInput placeholder="Your text..." />
    </mat-form-field>
    <button (ngSubmit)="addText(f.value)" type="submit" mat-raised-button color="primary">Add</button>
</form>