<div class="objects_add_dialog">
    <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="name" />
    </mat-form-field>

    <div class="line">
        <input #preview type="file" [hidden]="true" (change)="uploadPreview($event)">
        <button mat-button (click)="preview.click()">Upload preview image</button>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Close</button>
        <button [disabled]="!name || !uploadedPreview" mat-button (click)="upload()">Ok</button>
    </div>
</div>