<div id="editor">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Editor</mat-panel-title>
            <mat-panel-description *ngIf="!selectedObject">
                Select object please
            </mat-panel-description>
            <mat-panel-description *ngIf="selectedObject">
                Selected object is: {{selectedObject.name}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="inner">
            <canvas id="editor_inline"></canvas>

            <div class="panel">
                <button mat-button (click)="export()">Export</button>
            </div>
        </div>
    </mat-expansion-panel>
</div>